 <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Message Inbox
            </div>
            <div class="panel-body">
                <!-- .panel-heading -->
                <%if @messages.empty?%>
                  No messages yet!
                <%else%>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#inbox" data-toggle="tab">Inbox</a>
                    </li>
                    <li>
                        <a href="#sentmessages" data-toggle="tab">Sent Messages</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="inbox">
                        <%@messages.each do |x|%>
                            <div class="panel-body">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%=x.id%>">
                                                <span class="messageemail">
                                                    Sent by:<%=x.sender.email%>
                                                </span>
                                                </a>
                                            </h4>
                                                <%if x.status =="Unread" %>
                                                    <i class="fa fa-exclamation"></i>
                                                    <span><%=x.inspect%></span>
                                                <%end%>
                                                <span class="messageid" style="visibility:hidden"><%=x.id%></span>
                                        </div>
                                        <div id="collapse_<%=x.id%>" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <%=x.message%><hr>
                                                Sent at: <%=x.created_at%><hr>
                                                <p>
                                                <%=link_to "reply",message_path(x)%>
                                                </p>
                                            </div>
                                        </div>
                                    </div>                       
                                </div>
                            </div>
                        <%end%>
                    </div>
                    <div class="tab-pane fade" id="sentmessages">
                        <%if @sentmessages.empty?%>
                            No Sent Messages
                        <%else%>
                        <%@sentmessages.each do |x|%>
                            <div class="panel-body">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%=x.id%>">
                                                <span id="messageid" style="visibility:hidden"><%=x.id%></span>
                                                Sent to:<%=x.recipient.email%></a></h4>
                                                <p>
                                                <%=link_to "view conversation",message_path(x)%>
                                                </p>
                                        </div>
                                        <div id="collapse_<%=x.id%>" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <%=x.message%><hr>
                                                Sent at: <%=x.created_at%>
                                            </div>
                                        </div>
                                    </div>                       
                                </div>
                            </div>
                        <%end%>
                    <%end%>
                    </div>
                <%end%>
                </div>
            </div>
        </div>

    </div>
</div>
 


