<h3><%=@message.message%></h3>-<%=@message.sender.email%><br><%=@message.created_at%><br><hr>
<%@message.replies.all.each do |x|%>
  <h5><%=x.name%></h5>
  -<%=x.user.email%><br>
  <%=x.created_at%><br><br>
<%end%>

<%=form_for @reply, url: message_replies_path(message_id:@message.id), method: :post do |x|%>
<%=x.hidden_field :user_id%>
<%=x.text_field :name%>
<%=x.submit%>
<%end%>