<!-- <h3><%#=@message.message%></h3>-<%#=@message.sender.email%><br><%#=@message.created_at%><br><hr> -->

<%#@message.replies.all.each do |x|%>
    <%#if x.user_id==current_user.id%>
        <!-- <h5> i sent it</h5> -->
        <!-- <h5><%#=x.name%></h5> -->
        <!-- -<%#=x.user.email%><br> -->
        <!-- <%#=x.created_at%><br><br> -->
    <%#else%>
        <!-- <h5>he sent it</h5> -->
        <!-- <h5><%#=x.name%></h5> -->
        <!-- -<%#=x.user.email%><br> -->
        <!-- <%#=x.created_at%><br><br> -->
    <%#end%>
<%#end%>

<%#=form_for @reply, url: message_replies_path(message_id:@message.id), method: :post do |x|%>
<%#=x.hidden_field :user_id%>
<%#=x.text_field :name%>
<%#=x.submit%>
<%#end%>


<!-- /.panel -->
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i>
                            Conversation
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu slidedown">
                                    <li>
                                        <%= link_to message_path(@message) do%>
                                            <i class="fa fa-refresh fa-fw"></i> Refresh
                                        <%end%>
                                           
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                              <%if @hestartedit%>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <!-- <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" /> -->
                                        <%=image_tag(@message.sender.profile_picture, size:"75")%>
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font"><%=@message.sender.email%></strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> <%=time_ago_in_words(@message.created_at)%>
                                            </small>
                                        </div>
                                        <p>
                                            <%=@message.message%>
                                        </p>
                                    </div>
                                </li>
                                <%elsif @istartedit%>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                      <%=image_tag(@message.sender.profile_picture, size:"75")%>
                                        <!-- <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" /> -->
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 
                                                <%=time_ago_in_words(@message.created_at)%></small>
                                            <strong class="pull-right primary-font">
                                              <%=@message.sender.email%>
                                            </strong>
                                        </div>
                                        <p>
                                            <%=@message.message%>
                                        </p>
                                    </div>
                                </li>
                                <%end%>
                                
                                <%@message.replies.all.each do |x|%>
                                    <%if x.user_id==current_user.id%>
                                    <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                      <%=image_tag(x.user.profile_picture, size:"75")%>
                                        <!-- <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" /> -->
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> <%=time_ago_in_words(x.created_at)%></small>
                                            <strong class="pull-right primary-font">
                                              <%=x.user.email%>
                                            </strong>
                                        </div>
                                        <p>
                                            <%=x.name%>
                                        </p>
                                    </div>
                                </li>
                                    <%else%>
                                    <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <!-- <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" /> -->
                                        <%=image_tag(x.user.profile_picture, size:"75")%>
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font"><%=x.user.email%></strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> <%=time_ago_in_words(x.created_at)%>
                                            </small>
                                        </div>
                                        <p>
                                            <%=x.name%>
                                        </p>
                                    </div>
                                </li>
                        <%end%>
                    <%end%>
                          </ul>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            <div class="form-inline">
                                <%=form_for @reply, url: message_replies_path(message_id:@message.id), :html=>{class: "form-group"}, method: :post do |x|%>
                                <%=x.hidden_field :user_id%>

                                <%=x.text_field :name, class: "form-control", id: "btn-input", placeholder: "Type your message here..."%>
                                <%=x.submit "Send", class: "btn btn-warning btn-sm", id: "btn-chat"%>

                                <%end%>
                            </div>

                               
                        </div>
                    </div>
