<div class="row">
  <div class="col-md-1">
  <%=image_tag(x.user.profile_picture, width:'50px', height:'50px', 'padding-left':'10px')%>
  </div>
  <div class="col-md-11" style="margin-top: -5px;padding-left:30px">
      <div class="col-md-12">
    <strong><%=x.user.email%></strong>
        <!-- delete comment link -->
        <%if x.user_id==current_user.id%>
          <%=link_to comment_path(x), method: :delete, id:'comment_'+x.id.to_s, remote: true do %>
           <i class = "fa fa-times"></i>
          <%end%>
          <!-- edit comment link -->
        <%=link_to edit_comment_path(x), remote: true do%>
           <i class = "fa fa-pencil"></i>
          <%end%>
      <%end%>
    </div>
    <!-- actual comment -->
    <div class="usercomment col-md-12" style="break-word;" data-commentid=<%=x.id%>><%=x.comment%>
    </div>
  <div class="timeagoinwords col-md-12" data-timestamp=<%=x.id%>>
    <%if (x.created_at)==(x.updated_at)%>
      <%=time_ago_in_words(x.created_at)%>
    <%else%>
      edited:<%=time_ago_in_words(x.updated_at)%> 
    <%end%>ago
  </div>
  </div>
</div><br>
