<div class="row">
  <div class="col-md-4">
    <%if @user.profile_picture%>
      <%=image_tag(@user.profile_picture.url(:thumb), :width=>200, :height=>200, :style=>"margin-top:20px") %>
    <%end%>
  </div>
  <div class="col-md-8">
    <h3><%=@user.email%></h3>
    <%if @friendship.empty?%>
    <h5><%=link_to "Add Friend", friendships_path(friend_id: @user.id), method: :post%></h5><br>
    <%elsif @friendship.first.state == "accepted"%>
      <%=link_to "Remove Friend", friendship_path(@friendship.first.id), method: :DELETE%><br>
    <%elsif @friendship.first.state == "pending" || @friendship.first.state == "declined" %>
      <h5><a onClick = "alert('to do')"> Cancel Request </a></h5><br>
    <%end%>
    <h5><%=link_to "Send Message", new_message_path(recipient_id: @user.id)%></h5><br>
    Friend Count:<%=@user.friends.count%>
  </div>
</div>
<br><hr>

<!-- @issue.created_at.strftime("%d %b. %Y")
# Hour:Min
@issue.created_at.strftime("%H:%M") -->

<%@posts.each do |x|%>
    <div class="col-lg-4">
      <div class="panel panel-info">
        <div class="panel-heading"><%=x.created_at.strftime("%b %d %Y")%>
          <span id="time"><%=x.created_at.strftime("%l:%M%P")%></span></div>
        <div class="panel-body" style="height:300px">
          <%if x.type=="Image"%>
            <%=link_to image_tag(x.body.url, :id=>"imageindex", style:"max-height:100%"), post_path(x), {remote: :true, 'data-toggle': "modal", 'data-target': '#modal-window'}%>
            <%#=link_to image_tag(x.body.url, :id=>"imageindex"), post_path(x)%>
          <%else%>
            <h2>"<%=link_to x.body, post_path(x), {remote: :true, 'data-toggle': "modal", 'data-target': '#modal-window' }%>"</h2>
            <%#=link_to x.body, post_path(x)%>
          <%end%>
        </div>
        <div class="panel-footer"> <i class="fa fa-comment fa-fw"></i><%=x.comments.all.count%>
        </div>
      </div>
    </div>
<%end%>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<%if @posts.empty?%>
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>You need to be this users friend to see their posts.
</div><%end%>
<%=link_to "back home", root_path%>


