<h1> Profile Page </h1>
<%=@user.email%>

<h1> User posts:</h1>
<%@posts.each do |x|%>
  <%if x.type=="Image"%>
    <%= image_tag x.body.url %><br>
    Posted:<%=x.created_at%><hr>
    <%else%>
    <%=x.body%><br>
    Posted:<%=x.created_at%><br><hr>
  <%end%>
<%end%>

<%=link_to "back home", root_path%>