<h1> Profile Page </h1>
<%=@user.email%>

<h1> User posts:</h1>
<%@posts.each do |x|%>
  <%if x.type=="Image"%>
    <%=link_to image_tag(x.body.url), post_path(x)%><br>
    Posted:<%=x.created_at%><hr>
    <%else%>
    <%=link_to x.body, post_path(x)%><br>
    Posted:<%=x.created_at%><br><hr>
  <%end%>
<%end%>

<%=link_to "back home", root_path%>