<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading"> 
                My Friends
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <!-- tab 1 -->
                    <li class="active"> 
                        <a href="#friendslist" data-toggle="tab">Friend List</a>
                    </li>
                    <!-- tab 2 -->
                    <li>
                        <a href="#profile" data-toggle="tab">Friend Requests
                        <%if @requested_friendships.count > 0%>
                            <i class="fa fa-exclamation"></i>
                        <%end%></a>
                    </li>
                    <!-- tab 3 -->
                    <li>
                        <a href="#otherinfo" data-toggle="tab">Other Info</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="friendslist">
                        <h4>Friend List</h4>
                        <%@accepted_friendships.each do |x|%>
                            <div class="col-md-6" style="margin-bottom:20px;">
                                <%id=x.friend.id%>
                                <%=link_to image_tag(x.friend.profile_picture.url, :width=>150, :height=>150), '/user/'+id.to_s%>
                                <%=x.friend.email%>
                                <%=link_to "Remove Friend", friendship_path(x), method: :DELETE%><br>
                            </div>
                        <%end%>
                    </div>
                    <div class="tab-pane fade" id="profile">
                        <h4>Friend Requests</h4>
                        <%@requested_friendships.each do |x|%>
                            <span id="<%=x.id%>">
                            <span id="friendshipid"><%=x.id%></span>
                            <!-- <span id='friendship_<%#=x.id%>'> -->
                            <%=x.friend.email%><button class='accept_request' data-id="<%=x.id%>">Accept Request</button><button class='decline_request' data-id="<%=x.id%>">Decline Request</button></span>
                            <span id="friendemail"><%=x.friend.email%></span> <span id="userprofilepicture" style="visibility:hidden"><%=x.friend.profile_picture%></span><br>
                        <%end%>
                    </div>
                    <div class="tab-pane fade" id="otherinfo">
                                    
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <p class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%#=x.id%>">My Pending Requests<%#=x.sender.email%></a>
                                    </p>
                                </div>
                                <div id="collapse_<%#=x.id%>" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                      <%if @sent_friendships.count>0%> 
                                        <%@sent_friendships.each do |x|%>
                                            <%=x.friend.email%><br>
                                        <%end%>
                                        <%else%>
                                        None Pending
                                        <%end%>
                                    </div>
                                </div>
                            </div> 
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <p class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#declined_<%#=x.id%>">Requests Ive Declined<%#=x.sender.email%></a>
                                    </p>
                                </div>
                                <div id="declined_<%#=x.id%>" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                      <%if @declined_friendships.count>0%> 
                                        <%@declined_friendships.each do |x|%>
                                            <%=x.friend.email%><br>
                                        <%end%>
                                    <%else%>
                                        None Declined
                                    <%end%>
                                    </div>
                                </div>
                            </div> 
                        </div>

                    </div> <!--end of other info tab panel content-->
                </div>


            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
    </div>
</div>

<%=link_to "Back Home", root_path%>