<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            My Friends
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#friendslist" data-toggle="tab">Friend List</a>
                                </li>
                                <li><a href="#profile" data-toggle="tab">Friend Requests<%if current_user.friendships.where(state:'requested').count > 0%>
                            <i class="fa fa-exclamation"></i>
                            <%end%></a>
                                </li>
                                <li><a href="#otherinfo" data-toggle="tab">Other Info</a>
                                </li>
                                <!-- <li><a href="#messages" data-toggle="tab">Messages</a> -->
                                <!-- </li> -->
                                <!-- <li><a href="#settings" data-toggle="tab">Settings</a> -->
                                <!-- </li> -->
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="friendslist">
                                    <h4>Friend List</h4>
                                    <%@accepted_friendships.each do |x|%>
                                    <%id=x.friend.id%>
                                    <%=link_to "Profile", '/user/'+id.to_s%>
                                    <!-- <span id="friendidforurl"><%#=x.friend.id%></span> -->
                                    <%=x.friend.email%><%=link_to "Remove Friend", friendship_path(x), method: :DELETE%><br>
                                    <%end%>
                                </div>
                                <div class="tab-pane fade" id="profile">
                                    <h4>Friend Requests</h4>
                                    <%@requested_friendships.each do |x|%>
                                    <span id="<%=x.id%>">
                                    <span id="friendshipid"><%=x.id%></span>
                                    <!-- <span id='friendship_<%#=x.id%>'> -->
                                    <%=x.friend.email%><button id='accept_request'>Accept Request</button><button id='decline_request'>Decline Request</button></span>
                                    <span id="friendemail"><%=x.friend.email%></span>
<br>
                                    <%end%>
                                </div>
                                <div class="tab-pane fade" id="otherinfo">
                                    
<div class="panel-group" id="accordion">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <p class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%#=x.id%>">My Pending Requests<%#=x.sender.email%></a>
                                        </p>
                                    </div>
                                    <div id="collapse_<%#=x.id%>" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                          
                                      <%if @sent_friendships.count>0%> 
                                        <%@sent_friendships.each do |x|%>
                                          <%=x.friend.email%><br>
                                          <%end%>
                                        <%else%>
                                        None Pending
                                      <%end%>


                                        </div>
                                    </div>
                                </div> 
                                
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <p class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#declined_<%#=x.id%>">Requests Ive Declined<%#=x.sender.email%></a>
                                        </p>
                                    </div>
                                    <div id="declined_<%#=x.id%>" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                          <%if @declined_friendships.count>0%> 

                                      <%@declined_friendships.each do |x|%>
                                      <%=x.friend.email%><br>
                                      <%end%>
                                      <%else%>
                                      None Declined
                                      <%end%>

                                        </div>
                                    </div>
                                </div> 





     </div>












                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                
                <!-- /.col-lg-6 -->
            </div>

<%=link_to "Back Home", root_path%>