<div class="navlogin">
     <%=image_tag("logo", height: '40', width: '120', id:'bannerlogo') %>
</div>
        <div class="row mainrow">
          <div class="col-sm-8">
            <div class="mainheading" style="width:80%">A picture is worth<br> 10 words.</div><hr id="line" style="width:80%;">
            <div class="subheader">Connect with your friends with pic10. 
            </div>
            <div class="subheader2">
              <i class="fa fa-instagram fa-3x subheader2icon"></i> Share a Picture
              <!-- <span class="vertical">
              </span> -->
              <i class="fa fa-twitter fa-3x subheader2icon"></i>  Share a status
              <!-- <span class="vertical"> 
              </span>  -->  
              <i class="fa fa-comments fa-3x subheader2icon"></i>Send and recieve Direct Messages
              <!-- <span class="vertical">
              </span> -->
            </div>

              

             <%#=image_tag('worldmap.jpg', :style=>'max-width:100%;max-height:100%;')%>
          </div>
            <div class="col-sm-4">
                <div class="login-panel panel panel-default">
                    <!-- <div class="panel-heading squarecorner"> -->
                        <!-- <h3 class="panel-title">Please Sign In</h3> -->
                    <!-- </div> -->
                    <div class="panel-body loginpanelbody">
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>                            
                      <fieldset>
                          <div class="form-group">
                            <!-- <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus> -->

                            <!-- <div class="field"> -->
                            <!-- <%#= f.label :email %><br /> -->
                            <%#= f.email_field :email, autofocus: true, class: "form-control squarecorner", placeholder: "E-mail" %>
                            <!-- <div style="text-align:center"> -->
                              <!-- or -->
                            <!-- </div> -->
                             <%= f.text_field :login, autofocus: true, class: "form-control squarecorner", placeholder: "Email or Username" %>
                            <!-- </div> -->
                          </div>
                                
                        
                          <div class="form-group">
                            <!-- <input class="form-control" placeholder="Password" name="password" type="password" value=""> -->
                            <%= f.password_field :password, autocomplete: "off", class: "form-control squarecorner", placeholder: "Password" %>
                          </div>
                                  
                          <% if devise_mapping.rememberable? -%>
                            <div class="checkbox">
                              <label>
                                <!-- <input name="remember" type="checkbox" value="Remember Me">Remember Me -->
                                <%= f.check_box :remember_me, class:"squarecorner" %>Remember Me
                                <%#= f.label :remember_me %>
                              </label>
                            </div>
                          <%end%><br><br>
                          <!-- Change this to a button or input when using this as a form -->
                          <!-- <a href="index.html" class="btn btn-lg btn-success btn-block">Login</a> -->
                          <div class: "actions">
                            <%= f.submit "Log in", class: "btn btn-lg btn-success btn-block landingpagebutton squarecorner" %>
                          </div>
                      </fieldset>
                      <% end %>
                      
                      <%= render "devise/shared/links" %>

                    </div>
                </div>
            </div>

        </div>

        <div class="row" id="secondrow" style="margin-left:0px!important;">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="screenshotheading">Screenshots</h1>
            </div>
          </div>
          <div class="row">
          <div class="col-sm-12">
            <div class="secondrowdiv col-md-3">
              <%=image_tag('billgates.png', :style=>'max-width:100%;height:100%;')%>
              <%=image_tag('image_pointer', :class=>'image_pointer', :style=>'margin-top:6px;display:none;')%>
            </div>
            <div class="secondrowdiv col-md-3">
                <%=image_tag('sunset.jpg', :style=>'width:100%;height:100%;')%>
                <%=image_tag('image_pointer', :class=>'image_pointer', :style=>'margin-top:6px;display:none;')%>
            </div>
            <div class="secondrowdiv col-md-3">
              <%=image_tag('grandcanyon.jpg', :style=>'max-width:100%;height:100%;')%>
              <%=image_tag('image_pointer', :class=>'image_pointer', :style=>'margin-top:6px;display:none;')%>
            </div>
            <div class="secondrowdiv col-md-3">
              <%=image_tag('worldmap.jpg', :style=>'max-width:100%;height:100%;')%>
              <%=image_tag('image_pointer', :class=>'image_pointer', :style=>'margin-top:6px;display:none;')%>
            </div>
          </div>
        </div>
        </div>
        <div id="largeimagediv" style="display:none;">
          <i class="fa fa-times fa-2x" id="closelargeimagediv"></i>
          <div class="row">
            <!-- large image -->
          <div class="col-sm-8">
           <%=image_tag('billgates.png', :style=>'width:100%;height:100%;')%>
          </div>
          <!-- side information -->
          <div class="col-sm-4" style="color:white;margin-top:5%">
            <!-- side main text -->
            <div>
            <%=Faker::Lorem.sentence%>
            </div>
            <hr>
            <!-- side small thumbnails -->
            <div class="row" style="text-align:center">
              <div class="col-md-4 thumbnailx3"><%=image_tag('billgates', height:'100%', width:'100%')%></div>
              <div class="col-md-4 thumbnailx3"><%=image_tag('billgates', height:'100%', width:'100%')%></div>
              <div class="col-md-4 thumbnailx3"><%=image_tag('billgates', height:'100%', width:'100%')%></div>
            </div>
          </div>
        </div>


        </div>

        <script>
        $(document).ready(function(){

          // image thumbnail containing div
          $('.secondrowdiv').click(function(event){
            // var target = $(event.target)
            // if (target.is('img') ){
            //   return;
            // }
          
            var pic = $(this) 
            var imageobject = pic.find("img")
            console.log(imageobject)
            var imageattr1= imageobject[0].src
            var imageattr2= imageobject[0].alt
            // get image object from whichever div is clicked
            console.log(imageattr1)
            console.log(imageattr2)
            // slide the large black div on every click function 
            $('#largeimagediv').slideDown(function(){
               $(this).find(".col-sm-8").children('img').attr('src', imageattr1)
               $(this).find(".col-sm-8").children('img').attr('alt', imageattr2)
        
              // change the contents of the large div to which ever thumbnail was
              // clicked
              $('#image_pointer').toggle();
              // the down arrow from thumbnail to large div
            });

          });


          // the x button on right side of large black div
          $('#closelargeimagediv').click(function(){
            $('#largeimagediv').slideToggle();
          });



          // ===========

          $('.subheader2icon').addClass('animated bounceInUp');
          $('#line').addClass('animated bounceInUp');

          $('.subheader2icon').hover(function(){
            $(this).toggleClass('underlineme')
          });
            // console.log($(this));
            // $(this)
        
        });
        </script>

    <!-- </div> -->

