<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h5 id="myModalLabel"><%=image_tag(@post.user.profile_picture, size: "50")%><%=@post.user.email%></h3>
          </div>

        <div class="modal-body">
          <div class="row"> 
            <div class="col-md-8">
              <%if @post.is_status?%>
                <%#=@post.user.email%>
                <h2><%=@post.body%><br></h2>
              <%else%>
                <!-- <h5><%#=@post.user.email%>:</h5> -->
                <%=image_tag @post.body, :style=> "max-width: 100%"%><br>
                <!-- Posted:<%#=@post.created_at%><br><hr> -->
              <%end%>
            </div>
          <div class="col-md-4">
            <h4>Comments:</h4>
            <div id="commentlist">
              <%@comments.each do |x|%>
                <%=render partial: 'comments/form', locals: {data: x}%>
              <%end%>

            </div>

            <%=form_for @comment, :html => {:class => "form-horizontal center"}, remote: true do |x|%>
             <%#=form_for @comment, :html => {:class => "form-horizontal center"} do |x|%>
            <!-- <div class="form-group"> -->
              <%=x.hidden_field :post_id%>
              <%=x.hidden_field :user_id%>
              <%#=x.label :comment%>
              <%=x.text_area :comment, class: "form-control"%><br>
              <!-- <input type="text" class="form-control" placeholder="Text input"> -->
              <%=x.submit "Post", id: "commentsubmit"%>
              <%end%>
            <!-- </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <%@post.tags.each do |x|%>
            #<%=link_to x.tag, tag_path(x)%>
            <%end%>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <%if @liked.empty?%>
            <%=link_to likes_path(:id=>@post.id), method: :post, style: 'float:left' do %>
              <i class="fa fa-thumbs-o-up fa-2x">Like</i>
            <%end%>
        <%else%>
            <%=link_to like_path(:id=>@liked.first.id), method: :DELETE, style: 'float:left' do%>
              <i class="fa fa-thumbs-up fa-2x">Unlike</i>
            <%end%>
        <%end%>
        <h5>Posted:<%=@post.created_at%></h5>
      </div>

  </div>
</div>
