 <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%=@post.user.email%></h3>
  </div>
  <div class="modal-body">
    <div class="row"> 
      <div class="col-md-8">
        <%if @post.is_status?%>
          <%#=@post.user.email%>
          <h2><%=@post.body%><br></h2>
        <%else%>
          <!-- <h5><%#=@post.user.email%>:</h5> -->
          <%=image_tag @post.body, :style=> "max-width: 100%"%><br>
          <!-- Posted:<%#=@post.created_at%><br><hr> -->
        <%end%>
      </div>
      <div class="col-md-4">

        <h4>Comments:</h4>
        <%@comments.each do |x|%>
        <%=x.comment%> -<%=x.user.email%><br>
        Posted: <%=x.created_at%><hr>
        <%end%>

        <%=form_for @comment do |x| %>
        <%=x.hidden_field :post_id%>
        <%=x.hidden_field :user_id%>
        <%#=x.label :comment%>
        <%=x.text_area :comment%><br>
        <%=x.submit "Post"%>
        <%end%>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button> -->
    <!-- <button class="btn btn-primary">Save changes</button> -->
  <h5>Posted:<%=@post.created_at%></h5>

  </div>
</div>
</div>
