<%if @post.type=="Status"%>
  <%=simple_form_for @post, :html=>{class: 'form-group'} do |x|%>
    <%if @post.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@post.errors.count, "error") %> prohibited
            this status from being saved:
          </h2>
          <ul>
            <%@post.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <%end%>
          </ul>
        </div>
    <%end%>
    <%#=x.label 'Post Status'%>
    <%=x.text_field :body, placeholder: 'Your Status', class: "form-control input-lg"%><br>
    <%=x.hidden_field :type%>
    <%=x.association :tags, :label_method=> lambda {|x| x.tag }, placeholder: "Enter any tags (optional)"%>
    <%=x.submit "Post Status"%>
  <%end%>
<%elsif @post.type=="Image"%>
  <%=simple_form_for @post, :html=>{:multipart=>true} do |x|%>
    <%=x.label 'Post Image'%>
    <%=x.file_field :body%>
    <%=x.hidden_field :type%>
    <%=x.association :tags, :label_method=> lambda {|x| x.tag }%>
    <%=x.submit%>
  <%end%>
<%end%>
<script>
$('#post_tag_ids').selectize({
  delimeter: ',',
  plugins: ['remove_button'],
  persist: false,
  create: function(input){
    var ajax= $.ajax({
      url: '/tags',
      method: 'post',
      data: {tag: {tag: input}},
      async: false,
      success: function(result){
        console.log(result)
      },
      error: function(result){
        console.log(result)
      } 
    });
    // console.log(ajax.responseJSON.id)
    return{
      value: ajax.responseJSON.id,
      text: input
    }
  }
});
</script>


<!-- <input type="text" class="form-control" placeholder="Text input"> -->