<%if @post.is_status?%>
  <h5><%=@post.user.email%>:</h5>
  <%=@post.body%><br>
  Posted:<%=@post.created_at%><br><hr>
<%else%>
  <h5><%=@post.user.email%>:</h5>
  <%=image_tag @post.body%><br>
  Posted:<%=@post.created_at%><br><hr>
<%end%>

<h6>Comments:</h6>
<%@comments.each do |x|%>
<%@user = x.user%>
<%=x.comment%> -<%=@user.email%> <br>
<%end%>

<%=form_for @comment do |x| %>
<%=x.hidden_field :post_id%>
<%=x.hidden_field :user_id%>
<%=x.label :comment%>
<%=x.text_area :comment%><br>
<%=x.submit%>
<%end%>



