<!DOCTYPE html>
<html>
<head>
  <title>SocialNetwork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%=render 'layouts/header' unless @remove_header%>
<div id="page-wrapper">
  <%if notice || alert%>
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%=notice%>
    <%=alert%> 
  </div>
  <%end%>
  <%= yield %>
</div>

</body>
</html>
